.nav-link {
	font-size: 22px;
	margin: 20px;
	color: black !important;
	transition: color 0.2s, transform 0.2s;
}

.nav-link:hover {
	color : white !important;
	transform: rotate(2.5deg);
}

.container {
	margin-top: 10px;
}

.bg-red {
	background-color: #c0392b;
}

.bg-darkred {
	height: 27px;
	margin-top: 100px;
	background-color: #ae3427;
}

.btn-darkred {
	background-color: #ae3427;
	color: black;
	transition: color 0.2s;
}

.btn-darkred:hover {
	color: white;
}