{# templates/accueil/accueil.html.twig #}
<<<<<<< HEAD
<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="text-center">Test</h1>
		</div>
	</div>
</div>
=======
<h1>test</h1>
<
>>>>>>> 80b5b3ce2cc096d1ac35337334ce04f0fc96b308
