{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<button type="button" class="btn btn-primary">Primary</button>
	<div class="row">
		<div class="col">
			<h1 class="text-center">Test</h1>
		</div>
	</div>
</div>
<h1>test</h1>
{% endblock %}
