{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col">
			<h1>Vote</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="pl-5">
				ICI il y aura la section de vote sur le site de rpg-paradize.com (peut être).
			</p>
		</div>
	</div>
</div>
{% endblock %}